body {
  background-color: var(--background);
  color: var(--text-primary);
  position: relative;
  box-sizing: border-box;
}

.dark body {
  background-color: var(--dark-background);
  color: var(--dark-text-primary);
}
